<app-main-menu></app-main-menu>
<div id = "page-wrapper">
    <div id = "search-controls">
        <h1>Find perfect quiz for yourself</h1>
        <div id = "topics-select">
            <label for="topic-selector">Topics</label>
            <select2 [data]="topics|async" [options]="options" [cssImport]=true></select2>
        </div>
        <div class = "key-words-input">
            <label for="key-words">Key words</label>
            <rl-tag-input [(ngModel)]="tags" placeholder="type in your key words separated by comma"></rl-tag-input>
        </div>
        <a href = "#" class = "quiz-all"><span class = "fa fa-arrow-right"></span></a>
        
    </div>

    <div id = "quizzes">
        <h1>Search results</h1>
        <div class = "quizzes-list">
            <a *ngFor="let quiz of quizzes" class = "quiz" href = "#">
                <div class = "quiz-description">
                    <img class = "quiz-icon" src = "{{quiz.icon}}"/>
                    <span class = "quiz-name">{{quiz.name}}</span>
                </div>
                <div class = "quiz-details">
                    <span class = "quiz-topic">{{quiz.topic}}</span> <span class = "quiz-stats"> {{quiz.question_set.length}} questions</span>
                    <ul class = "quiz-subjects">
                        <li class = "quiz-subject">Subject subject 1</li>
                    </ul>
                </div>
            </a>
            
        </div>
    </div>
</div>
<app-footer></app-footer>