<app-main-menu></app-main-menu>
<div id = "page-wrapper">
    <div id = "search-controls">
        <h1>Find perfect quiz for yourself</h1>
        <div id = "topics-select">
            <label for="topic-selector">Topics</label>
            <select2 [data]="topics" [cssImport]=true></select2>
        </div>
        <div class = "key-words-input">
            <label for="key-words">Key words</label>
            <input id = "key-words" name="key-words" placeholder="your key words">
        </div>
        <a href = "#" class = "quiz-all"><span class = "fa fa-arrow-right"></span></a>
        
    </div>

    <div id = "quizzes">
        <h1>Search results</h1>
        <div class = "quizzes-list">
            <a  class = "quiz" href = "#">
                <div class = "quiz-description">
                    <img class = "quiz-icon" src = "/assets/blackboard.svg"/>
                    <span class = "quiz-name">Introduction to the history of Art 101</span>
                </div>
                <div class = "quiz-details">
                    <span class = "quiz-topic">Math</span> <span class = "quiz-stats">5 questions</span>
                    <ul class = "quiz-subjects">
                        <li class = "quiz-subject">Subject subject 1</li>
                        <li class = "quiz-subject">Subject subject 2</li>
                        <li class = "quiz-subject">Subject subject 3</li>
                    </ul>
                    
                </div>
            </a>
            <a class = "quiz" href = "#">
                <div class = "quiz-description">
                    <img class = "quiz-icon" src = "/assets/blackboard.svg"/>
                    <span class = "quiz-name">Introduction to the history of Art 101</span>
                </div>
                <div class = "quiz-details">
                    <span class = "quiz-topic">Math</span> <span class = "quiz-stats">5 questions</span>
                    <ul class = "quiz-subjects">
                        <li class = "quiz-subject">Subject subject 1</li>
                    </ul>
                </div>
            </a>
            <a class = "quiz" href = "#">
                <div class = "quiz-description">
                    <img class = "quiz-icon" src = "/assets/blackboard.svg"/>
                    <span class = "quiz-name">Introduction to the history of Art 101</span>
                </div>
                <div class = "quiz-details">
                    <span class = "quiz-topic">Math</span> <span class = "quiz-stats">5 questions</span>
                    <ul class = "quiz-subjects">
                        <li class = "quiz-subject">Subject subject 1</li>
                        <li class = "quiz-subject">Subject subject 2</li>
                    </ul>
                    
                </div>
            </a>
            <a class = "quiz" href = "#">
                <div class = "quiz-description">
                    <img class = "quiz-icon" src = "/assets/blackboard.svg"/>
                    <span class = "quiz-name">Introduction to the history of Art 101</span>
                </div>
                <div class = "quiz-details">
                    <span class = "quiz-topic">Math</span> <span class = "quiz-stats">5 questions</span>
                    <ul class = "quiz-subjects">
                        <li class = "quiz-subject">Subject subject 1</li>
                        <li class = "quiz-subject">Subject subject 2</li>
                    </ul>
                    
                </div>
            </a>
            <a class = "quiz" href = "#">
                <div class = "quiz-description">
                    <img class = "quiz-icon" src = "/assets/blackboard.svg"/>
                    <span class = "quiz-name">Introduction to the history of Art 101</span>
                </div>
                <div class = "quiz-details">
                    <span class = "quiz-topic">Math</span> <span class = "quiz-stats">5 questions</span>
                    <ul class = "quiz-subjects">
                        <li class = "quiz-subject">Subject subject 1</li>
                        <li class = "quiz-subject">Subject subject 2</li>
                    </ul>
                    
                </div>
            </a>
            <a class = "quiz" href = "#">
                <div class = "quiz-description">
                    <img class = "quiz-icon" src = "/assets/blackboard.svg"/>
                    <span class = "quiz-name">Introduction to the history of Art 101</span>
                </div>
                <div class = "quiz-details">
                    <span class = "quiz-topic">Math</span> <span class = "quiz-stats">5 questions</span>
                    <ul class = "quiz-subjects">
                        <li class = "quiz-subject">Subject subject 1</li>
                        <li class = "quiz-subject">Subject subject 2</li>
                    </ul>
                    
                </div>
            </a>
            <a class = "quiz" href = "#">
                <div class = "quiz-description">
                    <img class = "quiz-icon" src = "/assets/blackboard.svg"/>
                    <span class = "quiz-name">Introduction to the history of Art 101</span>
                </div>
                <div class = "quiz-details">
                    <span class = "quiz-topic">Math</span> <span class = "quiz-stats">5 questions</span>
                    <ul class = "quiz-subjects">
                        <li class = "quiz-subject">Subject subject 1</li>
                        <li class = "quiz-subject">Subject subject 2</li>
                    </ul>
                    
                </div>
            </a>
            <a class = "quiz" href = "#">
                <div class = "quiz-description">
                    <img class = "quiz-icon" src = "/assets/blackboard.svg"/>
                    <span class = "quiz-name">Introduction to the history of Art 101</span>
                </div>
                <div class = "quiz-details">
                    <span class = "quiz-topic">Math</span> <span class = "quiz-stats">5 questions</span>
                    <ul class = "quiz-subjects">
                        <li class = "quiz-subject">Subject subject 1</li>
                        <li class = "quiz-subject">Subject subject 2</li>
                    </ul>
                    
                </div>
            </a>
            <a class = "quiz" href = "#">
                <div class = "quiz-description">
                    <img class = "quiz-icon" src = "/assets/blackboard.svg"/>
                    <span class = "quiz-name">Introduction to the history of Art 101</span>
                </div>
                <div class = "quiz-details">
                    <span class = "quiz-topic">Math</span> <span class = "quiz-stats">5 questions</span>
                    <ul class = "quiz-subjects">
                        <li class = "quiz-subject">Subject subject 1</li>
                        <li class = "quiz-subject">Subject subject 2</li>
                    </ul>
                    
                </div>
            </a>
        </div>
    </div>
</div>
<app-footer></app-footer>