#search-controls {
    margin: 5%;
    width: 90%;
}
#search-controls h1 {
    text-align: center;
}
#topics-select {
    margin-bottom: 10px;
}

.key-words-input {
    margin-bottom: 10px;
}
.key-words-input tags {
    border: 1px solid #ffbe58!important;
    border-radius: 50px;
    display: inline-block;
    width: 80%;
    vertical-align: middle;
}

tags tag > div::before {
    background-color: rgba(109, 168, 214, 1); /*#5acde7;*/
    border-color: #6da8d6;
    border-radius: 50px;
}

#search-controls label {
    display: inline-block;
    font-weight: 600;
    margin-right: 10px;
}
#topics-select .select2-selection--single {
    border-color: #ffbe58!important;
}
.select2-dropdown {
    border-color: #ffbe58!important;
}
.select2-search__field {
    border-color: #ffbe58!important;
}
.select2-results__option--highlighted[aria-selected] {
    background-color: rgba(109, 168, 214, 0.2)!important;
    border-color: #6da8d6!important;
    color: #000!important;
}
.select2-results__option[aria-selected=true] {
    background-color: rgba(109, 168, 214, 1)!important;
    border-color: #6da8d6!important;
    color: #000!important;
}
#topics-select .select2-container {
    width: 200px!important;
}

#search-controls .quiz-all {
    border: 1px solid #ffbe58;
    border-radius: 50px;
    width: 15px;
    padding: 10px 20px;
    color: #000;
    display: block;
    margin: 10px auto;

}
#search-controls .quiz-all span {
    transform: rotate(90deg);
}
#search-controls .quiz-all:hover {
    color: #000;
    background-color: rgba(109, 168, 214, 0.2); /*#5acde7;*/
    border-color: #6da8d6; /*#5acde7;*/
}
@media (max-width: 768px) {
    #search-controls label {
        display: block;
        margin-bottom: 5px;
    }
}



#quizzes {
    width: 90%;
    text-align: center;
    margin: 5%;

}
#quizzes .quizzes-list {
    position: relative;
}
#quizzes .quiz {
    display: inline-block;
    margin-right: 2%;
    margin-bottom: 20px;
    width: 20%;
    text-decoration: none;
    color: #000;
    padding: 10px 20px;
    border: 1px solid #ffbe58;
    border-radius: 50px;
    vertical-align: middle;
}

#quizzes .quiz:nth-child(3n) {
    margin-right: 0;
}
#quizzes .quiz:hover {
    color: #000;
    background-color: rgba(109, 168, 214, 0.2); /*#5acde7;*/
    border-color: #6da8d6; /*#5acde7;*/
}
#quizzes .quiz-icon {
   margin-right: 10px; 
   display: inline-block;
   height: 40px;
   vertical-align: baseline;
}
#quizzes .quiz-description {
    display: inline-block;
}
#quizzes .quiz-description span {
    display: block;
    margin-bottom: 5px;
}
#quizzes .quiz-name {
    font-weight: bold;
    font-size: large;
    text-align: center;
}
#quizzes .quiz-topic {
    
}
#quizzes .quiz-stats {
    font-size: small;
    color: #9E9E9E;
}
#quizzes .quiz-all {
    display: inline-block;
    border: 1px solid #ffbe58;
    border-radius: 50px;
    width: 20px;
    padding: 10px 20px;
    position: absolute;
    top: calc(50% - 20px);
    color: #000;
    margin-left: 10px;
}
#quizzes .quiz-all:hover {
    color: #000;
    background-color: rgba(109, 168, 214, 0.2); /*#5acde7;*/
    border-color: #6da8d6; /*#5acde7;*/
}
#quizzes ul.quiz-subjects {
    margin: 10px 0px;
    padding: 0;
}
#quizzes .quiz-subject {
    list-style: none;
    text-align: center;
    margin: 3px 0px;
}
@media (max-width: 768px) {
    #quizzes .quiz {
        display: block;
        width: 80%;
        margin: auto;
        margin-bottom: 5px;
    }
    #quizzes .quiz:nth-child(3n) {
        margin-right: auto;
    }
    #quizzes .quiz-all {
        position: relative;
        margin-left: 0;
    }
    #quizzes .quiz-all span {
        transform: rotate(90deg);
    }
}