<app-main-menu></app-main-menu>
<div id = "page-wrapper">
    <div id = "search-controls">
        <h1>Find perfect quiz for yourself</h1>
        <div id = "topics-select">
            <label for="topic-selector">Topics</label>
            <select2 (valueChanged)="TopicChanged($event)" [data]="topics|async" [width]="200" [cssImport]=true></select2>
        </div>
        <div id = "subjects-select">
            <label for="topic-selector">Subjects</label>
            <select2 [data]="subjects|async" [options]="options" [width]="200" [cssImport]=false></select2>
        </div>
        <div class = "key-words-input">
            <label for="key-words">Key words</label>
            <rl-tag-input id="key-words" [(ngModel)]="tags" placeholder="key word1, key word2"></rl-tag-input>
        </div>
        <button (click) = "SearchQuizzes()" class = "quiz-all"><span class = "fa fa-arrow-right"></span></button>
        
    </div>

    <div id = "quizzes">
        <h1>Search results</h1>
        <div class = "quizzes-list">
            <a *ngFor="let quiz of quizzes" class = "quiz" href = "/quizzes/{{quiz.slug}}">
                <div class = "quiz-description">
                    <img class = "quiz-icon" src = "{{quiz.icon}}"/>
                    <span class = "quiz-name">{{quiz.edit}} {{quiz.name}}</span>
                </div>
                <div class = "quiz-details">
                    <span class = "quiz-topic">{{quiz.topic}}</span> <span class = "quiz-stats"> {{quiz.questions.length}} questions</span>
                    <ul class = "quiz-subjects">
                        <li *ngFor="let subject of quiz.subjects" class = "quiz-subject">{{subject.short_description}}</li>
                    </ul>
                </div>
            </a>
            
        </div>
    </div>
</div>
<app-footer></app-footer>