.dark-background {
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    overflow: auto;
}
div.modal {
    background: #fff;
    /*height: 50%;*/
    width: 50%;
    border-radius: 50px;
    top: /*50%*/0;
    
    margin: 20px 0;
    
    left: 50%;
    transform: translate(-50%, /*-5*/0%);
    position: /*fixed*/absolute;
}
div.modal.modal-large {/*add new class, do not use div here and everywhere else*/
    /*height: 80%;*/
    width: 60%;
}
div.modal.modal-large-large {
    /*height: 80%;*/
    width: 70%;
}

.modal-close {
    position: fixed;
    right: 25px;
    top: 15px;
    font-size: 140%;
    cursor: pointer;
}