<form [formGroup]="loginForm" #lForm="ngForm" class = "modal" *ngIf="type=='login'">
    <h1>Login</h1>
    <div class = "form-input-holder form-group">
        <label for = "login">Login</label>
        <input id = "login" class="form-control" formControlName="login_login" required type = "text" placeholder = "Username or email"/>
        <div class = "alert alert-danger" *ngIf="login_login.invalid && (login_login.dirty || login_login.touched)">
            <span *ngIf="login_login.errors.required" >Login is required</span>
        </div>
    </div>
    <div class = "form-input-holder">
        <label for = "password">Password</label>
        <input id = "password" class="form-control" formControlName="login_password" required  type = "password" placeholder = "Password"/>
        <div class = "alert alert-danger" *ngIf="login_password.invalid && (login_password.dirty || login_password.touched)">
            <span *ngIf="login_password.errors.required" >Password is required</span>
        </div>
    </div>
    <div class = "form-button-holder">
        <button type = "button" (click)="submit_form()"   >Login</button>
    </div>
    <div class = "form-link-holder pull-left">
        <span (click)="showForgotPasswordForm()" >Forgot password?</span>
    </div>
    <div class = "form-link-holder pull-right">
        <span (click)="showRegisterForm()">Not registered yet?</span>
    </div>
</form>

<form [formGroup]="signinForm" #sForm="ngForm" class = "modal" *ngIf="type=='signin'">
    <h1>Sign up</h1>
    <div class = "form-input-holder">
        <label for = "login">Username</label>
        <input id="login" class="form-control" formControlName="signin_login" required type = "text" placeholder = "Username or email"/>
        <div class = "alert alert-danger" *ngIf="signin_login.invalid && (signin_login.dirty || signin_login.touched)">
            <span *ngIf="signin_login.errors.required" >Username is required</span>
            <span *ngIf="signin_login.errors.minlength" >Username must be at least 5 characters</span>
            <span *ngIf="signin_login.errors.pattern" >wrong pattern</span>
        </div>
    </div>
    <div class = "form-input-holder">
        <label for = "email">Email</label>
        <input id = "email" class="form-control" formControlName="signin_email" required  type = "email" placeholder = "Email"/>
        <div class = "alert alert-danger" *ngIf="signin_email.invalid && (signin_email.dirty || signin_email.touched)">
            <span *ngIf="signin_email.errors.required" >Email is required</span>
        </div>
    </div>
    <div class = "form-input-holder">
        <label for = "password">Password</label>
        <input id = "password" class="form-control" formControlName="signin_password" required  type = "password" placeholder = "Password"/>
        <div class = "alert alert-danger" *ngIf="signin_password.invalid && (signin_password.dirty || signin_password.touched)">
            <span *ngIf="signin_password.errors.required" >Password is required</span>
            <span *ngIf="signin_password.errors.minlength" >Password must be at least 8 characters</span>
        </div>
    </div>
    <div class = "form-input-holder">
        <label for = "password_ver">Password for verification</label>
        <input id = "password_ver" class="form-control"  formControlName="signin_password_ver" required  type = "password" placeholder = "Password for verification"/>
        <div class = "alert alert-danger" *ngIf="signin_password_ver.invalid && (signin_password_ver.dirty || signin_password_ver.touched)">
            <span *ngIf="signin_password_ver.errors.required" >Password verification is required</span>
            <span *ngIf="signin_password_ver.errors.minlength" >Password must be at least 8 characters</span>
        </div>
    </div>
    <div class = "form-input-holder">
        <label for = "agreement" class = "small">
        <input id = "agreement" formControlName="signin_agreement" required type = "checkbox"/>
        <a [routerLink]="">I agree to our terms of service and privacy policy</a>
        <div class = "alert alert-danger" *ngIf="signin_agreement.invalid && (signin_agreement.dirty || signin_agreement.touched)">
            <span *ngIf="signin_agreement.errors.required" >Agreement is required for registration</span>
        </div>
        </label>
    </div>
    <div class = "form-button-holder">
        <button type = "button" (click)="submit_form()" >Sign up</button>
    </div>
    <div class = "form-link-holder pull-right">
        <span (click)="showLoginForm()">Already have an account?</span>
    </div>
</form>
<form [formGroup]="forgot_passwordForm" #fpForm="ngForm"class = "modal" *ngIf="type=='forgot_password'">
    <h1>Reset password</h1>
    <div class = "form-input-holder">
        <label for = "email">Email</label>
        <input id = "email" class="form-control" formControlName="forgot_password_email" required  type = "email" placeholder = "Email"/>
        <div class = "alert alert-danger" *ngIf="forgot_password_email.invalid && (forgot_password_email.dirty || forgot_password_email.touched)">
            <span *ngIf="forgot_password_email.errors.required" >Email is required</span>
        </div>
    </div>
    <div class = "form-button-holder">
        <button type = "button" (click)="submit_form()" >Send instructions</button>
    </div>
    <div class = "form-link-holder pull-right">
        <span (click)="showLoginForm()">Log in?</span>
    </div>
</form>