<form id = "popup-form" class = "modal fade">
    <h1>Login</h1>
    <div class = "form-input-holder">
        <label for = "login">Login</label>
        <input id = "login" type = "text" placeholder = "Username or email"/>
    </div>
    <div class = "form-input-holder">
        <label for = "password">Password</label>
        <input id = "password" type = "password" placeholder = "Password"/>
    </div>
    <div class = "form-button-holder">
        <button type = "button" id = "login-btn" >Submit</button>
    </div>
</form>