<nav class="navbar">
    <button type="button" (click)="toggleMobileMenu()" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bars fa fa-bars"></span>
    </button>
    <a class="navbar-brand" href="#"><img class = "logo" src="assets/idea.svg" /><span>Quiz time</span></a>
    <ul class="nav-menu" [ngClass]="{'collapsed':collapsed}">
        <li class = "active"><a href="#">Quizzes</a></li>
        <li><button (click)="ShowLoginForm()" >Log in</button></li>
    </ul>
</nav>