<nav class="navbar">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bars fa fa-bars"></span>
    </button>
    <a class="navbar-brand" href="#"><img class = "logo" src="assets/idea.svg" /><span>Quiz time</span></a>
    <ul class="nav-menu">
        <li class = "active"><a href="#">Quizzes</a></li>
        <li><a href="#">Quizzes</a></li>
        <li><a href="#">Quizzes</a></li>
        <li><button onclick = "$('#popup-form').modal('open')">Log in</button></li>
    </ul>
</nav>
<app-login-form></app-login-form>