html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #fff;
}
.navbar {
    width: 100%;
    height: 70px;
    display: inline-block;
}
.menu-scroll-toggle-icon {
    margin-right: 5px;
}
.navbar-toggle{
    height: 70px;
    font-size: 25px;
    width: 50px;
    background: transparent;
    color: #000;
    border: none;
    float: right;
    display: none;
    margin: 0px 20px;
    cursor: pointer;
    outline: none;
}
.navbar-brand {
    padding: 10px;
    display: inline-block;
}
a.navbar-brand {
    text-decoration: none;
    color: #000;
}
.navbar-brand span {
    vertical-align: middle;
    font-size: 150%;
}
.logo {
    height: 50px;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    display: inline-block;
}
ul.nav-menu {
    display: inline-block;
    float: right;
    margin: 20px;
    display: block;
}
ul.nav-menu li {
    list-style-type: none;
    padding: 10px 0;
    margin-right: 10px;
    display: inline-block;

}
ul.nav-menu li:last-child {
    margin-right: 0;
}
ul.nav-menu li a {
    color: #000;
    text-decoration: none;
    border: 1px solid #ffbe58;
    border-radius: 20px;
    padding: 10px 20px;
}
ul.nav-menu li.active a {
    border-color: #659dd0;
}
ul.nav-menu li a:hover {
    color: #000;
    background-color: rgba(109, 168, 214, 0.2); /*#5acde7;*/
    border-color: #6da8d6; /*#5acde7;*/
}
ul.nav-menu.mobile {
    display: block;
    width: 100%;
    margin: 0;
    position: absolute;
    padding: 0;
}
ul.nav-menu.mobile li {
    display: block;
    width: 100%;
    background-color: #fff;
    margin: 0;
    padding: 0;
    /*text-align: right;*/
}
ul.nav-menu.mobile li:first-child {
    border-top: 1px solid #fff;
}

ul.nav-menu.mobile li a {
    border: none;
    border-radius: 0;
    display: block;
    background-color: rgba(255, 239, 98, 1);
    border-bottom: 1px solid #fff;
    
}
ul.nav-menu.mobile li a:hover {
    background-color: rgba(109, 168, 214, 0.2);
    border-bottom-color: rgba(109, 168, 214, 1)
}

#page-wrapper {
    margin: 0;
    width: 100%;
}
#description {
    width: 100%;
    height: 300px;
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
}
#description:after, #description .banner:after {
    content: '';
    clear: both;
    display: table;
}
#description .description-text {
    width:40%;
    padding: 50px;
    display: inline-block;
    text-align: center;
}
#description .banner {
    height: 100%;
    width: 60%;
    background-size: contain!important;
}
#description .banner img {
    width: 100%;
    height: auto;
}

#topics {
    width: 90%;
    text-align: center;
    margin: 5%;
}
#topics .topics-list {
    position: relative;
}
#topics .topic {
    display: inline-block;
    margin-right: 2%;
    margin-bottom: 10px;
    width: 20%;
    text-decoration: none;
    color: #000;
    padding: 10px 20px;
    border: 1px solid #ffbe58;
    border-radius: 50px;
    vertical-align: middle;
}

#topics .topic:nth-child(3n) {
    margin-right: 0;
}
#topics .topic:hover {
    color: #000;
    background-color: rgba(109, 168, 214, 0.2); /*#5acde7;*/
    border-color: #6da8d6; /*#5acde7;*/
}
#topics .topic-icon {
   margin-right: 10px; 
   display: inline-block;
   height: 40px;
   vertical-align: baseline;
}
#topics .topic-description {
    display: inline-block;
    padding: 10px;
}
#topics .topic-description span {
    display: block;
    text-align: center;
}
#topics .topic-name {
    font-weight: bold;
    font-size: large;
}
#topics .topic-stats {
    font-size: small;
    color: #9E9E9E;
}
#topics .topic-all {
    display: inline-block;
    border: 1px solid #ffbe58;
    border-radius: 50px;
    width: 20px;
    padding: 10px 20px;
    position: absolute;
    top: calc(50% - 20px);
    color: #000;
    margin-left: 10px;
}
#topics .topic-all:hover {
    color: #000;
    background-color: rgba(109, 168, 214, 0.2); /*#5acde7;*/
    border-color: #6da8d6; /*#5acde7;*/
}
#steps {
    width: 90%;
    margin: 5%;
}
#steps h1 {
    text-align: center;
}
#steps .step {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 20px;
}
#steps .step:last-child {
    margin-bottom: 0;
}
.step .step-icon {
    width: 50%;
    max-width: 150px;
}
.step:nth-child(2n) {
    flex-direction: row-reverse;
}
.step .step-text {
    padding: 20px;
    width: 100%;
    text-align: center;
}





#quizzes {
    width: 90%;
    text-align: center;
    margin: 5%;

}
#quizzes .quizzes-list {
    position: relative;
}
#quizzes .quiz {
    display: inline-block;
    margin-right: 2%;
    margin-bottom: 20px;
    width: 20%;
    text-decoration: none;
    color: #000;
    padding: 10px 20px;
    border: 1px solid #ffbe58;
    border-radius: 50px;
    vertical-align: middle;
}

#quizzes .quiz:nth-child(3n) {
    margin-right: 0;
}
#quizzes .quiz:hover {
    color: #000;
    background-color: rgba(109, 168, 214, 0.2); /*#5acde7;*/
    border-color: #6da8d6; /*#5acde7;*/
}
#quizzes .quiz-icon {
   margin-right: 10px; 
   display: inline-block;
   height: 40px;
   vertical-align: baseline;
}
#quizzes .quiz-description {
    display: inline-block;
}
#quizzes .quiz-description span {
    display: block;
    margin-bottom: 5px;
}
#quizzes .quiz-name {
    font-weight: bold;
    font-size: large;
    text-align: center;
}
#quizzes .quiz-topic {
    
}
#quizzes .quiz-stats {
    font-size: small;
    color: #9E9E9E;
}
#quizzes .quiz-all {
    display: inline-block;
    border: 1px solid #ffbe58;
    border-radius: 50px;
    width: 20px;
    padding: 10px 20px;
    position: absolute;
    top: calc(50% - 20px);
    color: #000;
    margin-left: 10px;
}
#quizzes .quiz-all:hover {
    color: #000;
    background-color: rgba(109, 168, 214, 0.2); /*#5acde7;*/
    border-color: #6da8d6; /*#5acde7;*/
}
#quizzes ul.quiz-subjects {
    margin: 10px 0px;
    padding: 0;
}
#quizzes .quiz-subject {
    list-style: none;
    text-align: center;
    margin: 3px 0px;
}
@media (max-width: 768px) {
    #description {
        flex-wrap: wrap;
        height: fit-content;
    }
    #description .description-text {
        width: 100%;
    }
    #description .banner {
        width: 100%;
        background-size: contain!important;
        height: 200px;
    }
    
    #topics .topic {
        display: block;
        width: 80%;
        margin: auto;
        margin-bottom: 5px;
    }
    #topics .topic:nth-child(3n) {
        margin-right: auto;
    }
    #topics .topic-all {
        position: relative;
        margin-left: 0;
    }
    #topics .topic-all span {
        transform: rotate(90deg);
    }
    
    #quizzes .quiz {
        display: block;
        width: 80%;
        margin: auto;
        margin-bottom: 5px;
    }
    #quizzes .quiz:nth-child(3n) {
        margin-right: auto;
    }
    #quizzes .quiz-all {
        position: relative;
        margin-left: 0;
    }
    #quizzes .quiz-all span {
        transform: rotate(90deg);
    }
}
@media (max-width: 768px) {
	.navbar-toggle {
        display: block;
    }
    nav.navbar {
        background-color: rgba(255, 235, 59, 0.8);
    }
    ul.nav-menu {
        display: none;
    }
}
@media (max-width: 425px) {
    #steps .step {
        flex-wrap: wrap;
    }
    #steps .step .step-icon {
        margin: auto;
    }
}



footer {
    background-color: rgba(255, 235, 59, 0.8);
    padding: 2% 5%;
    position: relative;
}
footer .social-links {
    width: 30%;
    margin-right: 2%;
    display: inline-block;
}

footer ul.social-links-list {
    padding: 0;
    margin: 0;
}
ul.social-links-list li {
    list-style: none;
    display: block;
    margin-bottom: 10px;
}
ul.social-links-list li a {
    text-decoration: none;
    color: #000;
}
li span.social-link-icon {
    margin-right: 5px;
}
footer .subscription-form {
    width: 67%;
    display: inline-block;
    vertical-align: top;
}
#subscription-form input {
    padding: 10px 20px;
    border: 1px solid #ffbe58;
    border-radius: 50px;
    width: 250px;
}
#subscription-form .email-holder {
    width: fit-content;
    position: relative;
}
#subscription-form .subscribe-button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #ffbe58;
    border-radius: 50px;
    padding: 10px 20px;
    color: #000;
    background-color: #fff;
}
input:focus, a:focus, span:focus {
    outline: none;
}
#subscription-form a:hover {
    color: #000;
    background-color: rgba(109, 168, 214, 0.2); /*#5acde7;*/
    border-color: #6da8d6; /*#5acde7;*/
}
footer .logo {
    position: absolute;
    right: 5%;
    height: 50%;
    bottom: 25%;
    display: block;
}

@media (max-width: 768px) {
    footer .social-links {
        width: 100%;
        margin-right: 0%;
        text-align: center;
    }
    footer .subscription-form {
        width: 100%;
        text-align: center;
    }
    #subscription-form .email-holder {
        margin: 0 auto;
    }
    footer .logo {
        display: none;
    }
}

#search-controls {
    margin: 5%;
    width: 90%;
}
#search-controls h1 {
    text-align: center;
}
#topics-select {
    margin-bottom: 10px;
}

.key-words-input {
    margin-bottom: 10px;
}
.key-words-input tags {
    border: 1px solid #ffbe58!important;
    border-radius: 50px;
    display: inline-block;
    width: 80%;
    vertical-align: middle;
}

tags tag > div::before {
    background-color: rgba(109, 168, 214, 1); /*#5acde7;*/
    border-color: #6da8d6;
    border-radius: 50px;
}

#search-controls label {
    display: inline-block;
    font-weight: 600;
    margin-right: 10px;
}
#topics-select .select2-selection--single {
    border-color: #ffbe58!important;
}
.select2-dropdown {
    border-color: #ffbe58!important;
}
.select2-search__field {
    border-color: #ffbe58!important;
}
.select2-results__option--highlighted[aria-selected] {
    background-color: rgba(109, 168, 214, 0.2)!important;
    border-color: #6da8d6!important;
    color: #000!important;
}
.select2-results__option[aria-selected=true] {
    background-color: rgba(109, 168, 214, 1)!important;
    border-color: #6da8d6!important;
    color: #000!important;
}
#topics-select .select2-container {
    width: 200px!important;
}

#search-controls .quiz-all {
    border: 1px solid #ffbe58;
    border-radius: 50px;
    width: 15px;
    padding: 10px 20px;
    color: #000;
    display: block;
    margin: 10px auto;

}
#search-controls .quiz-all span {
    transform: rotate(90deg);
}
#search-controls .quiz-all:hover {
    color: #000;
    background-color: rgba(109, 168, 214, 0.2); /*#5acde7;*/
    border-color: #6da8d6; /*#5acde7;*/
}
@media (max-width: 768px) {
    #search-controls label {
        display: block;
        margin-bottom: 5px;
    }
}